.home-cards {
    color: black;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
}

.card__content {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1.4rem;

    .card__info {
        h3 {
            margin: 0;
        }
        p {
            margin: 0;
        }
    }
}

.card__content--outline {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}