.card {
    width: 12rem;
    border-radius: 1rem;
    background-color: aquamarine;

    .card__img {
        width: 100%;
        height: 8rem;
        background-color: aqua;
        border-radius: 1rem 1rem 0 0;
    }

    .card__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.3rem;
        padding: 0.6rem;

        h4 {
            margin: 0;
        }

        p {
            margin: 0;
        }
        span {
            font-weight: 600;
        }
        button {
            width: 100%;
        }
    }
}