.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    background-color: rgb(231, 230, 231);

    .close-icon {
        display: flex;
        align-items: center;
        height: 59.9px;
        padding: 0 1rem;
    }

    .content {
        padding: 1rem;
    }
}

.sidebar.open {
    width: 12rem;
}